SECRET_KEY=YOUR_SECRET_HERE
DEBUG=False
ALLOWED_HOSTS=127.0.0.1,localhost
LANGUAGE_CODE=pt-BR
TIME_ZONE=America/Sao_Paulo
DATABASE_URL=postgres://user:password@localhost:port/dbname
CELERY_BROKER_URL='redis://localhost:6379'
EMAIL_HOST=hosthere
EMAIL_PORT=587
EMAIL_HOST_USER=emailhere
EMAIL_HOST_PASSWORD=passhere
EMAIL_USE_TLS=True
EMAIL_USE_SSL=False
