[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
autopep8 = "*"
pylint = "*"
coverage = "*"

[packages]
django = "*"
python-decouple = "*"
dj-database-url = "*"
psycopg2-binary = "*"
django-bootstrap-form = "*"
django-extensions = "*"
xhtml2pdf = "*"
openpyxl = "*"
djangorestframework = "*"
celery = "==4.4.7"
django-celery-results = "*"
django-celery-beat = "*"
redis = "*"
gunicorn = "==20.0.4"

[requires]
python_version = "3.8"
