[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
autopep8 = "*"
pylint = "*"
jupyter = "*"
comlipy = "*"

[packages]
django = "*"
python-decouple = "*"
dj-database-url = "*"
psycopg2 = "*"
django-bootstrap-form = "*"
django-extensions = "*"
xhtml2pdf = "*"
openpyxl = "*"
djangorestframework = "*"
celery = "*"
django-celery-results = "*"
redis = "*"

[requires]
python_version = "3.8"
