{% extends 'core/index.html' %}

{% block body %}
<div class="mt-3">
    <table class="table table-striped">
    <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Options</th>
            </tr>
        </thead>
        <tbody>
             {% for department in object_list %}
            <tr>
                <td>{{ department }}</td>
                <td><a href="{% url 'departments-update' department.id  %}">Edit</a> | <a href="{% url 'departments-delete' department.id %}">Delete</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <a href="{% url 'departments-create' %}">
        <button type="submit" class="btn btn-primary">New</button>
    </a>
</div>
{% endblock %}
