{% extends 'base.html' %}
{% block main %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    {% if user.employee.company %}
        <span class="logo-header navbar-brand mb-0 h1"><a href="/">{{ user.employee.company.name }}</a> |</span>
    {% endif %}
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            {% if user.employee.company %}
                <a class="nav-item nav-link" href="{% url 'company-update' user.employee.company.id %}">Edit Company</a>
            {% else %}
                <a class="nav-item nav-link" href="{% url 'company-create' %}">New Company</a>
            {% endif %}
            <a class="nav-item nav-link" href="{% url 'employees-list' %}">Employees</a>
            <a class="nav-item nav-link" href="{% url 'departments-list' %}">Departments</a>
        </div>
    </div>
    <div class="navbar-nav">
        <a class="nav-item nav-link active" href="/">{{ user.employee.name }}<span class="sr-only">(current)</span></a>
    </div>
    <button class="btn btn-outline-primary my-2 my-sm-0" type="submit"><a href="{% url 'logout' %}">Logout</a></button>
</nav>
{% block body %}
{% endblock %}
{% endblock %}
