{% extends 'core/index.html' %}
{% load static %}
{% load bootstrap %}
{% block body %}
<div class="my-3">
    <form method="POST">
        {% csrf_token %}
        {{ form|bootstrap }}
        <button type="submit" class="btn btn-primary">Salvar</button>
        {% if object %}
            <a class="btn btn-danger" href="{% url 'overtime-delete' overtime.id %}">Delete</a>
        {% endif %}
    </form>
    {% block static %}
        <script src="{% static 'js/jquery-3.5.1.min.js' %}"></script>
        <script src="{% static 'js/index.js' %}"></script>
    {% endblock %}
</div>
{% endblock %}
