{% extends 'core/index.html' %}

{% block body %}
<div class="mt-3">
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Job Title</th>
            <th scope="col">Department</th>
            <th scope="col">Company</th>
            <th scope="col">Options</th>
        </tr>
    </thead>
    <tbody>
        {% for employee in object_list %}
        <tr>
            <td>{{ employee.name }}</td>
            <td>{{ employee.job_title }}</td>
            <td>{{ employee.departments.last }}</td>
            <td>{{ employee.company.name }}</td>
            <td><a href="{% url 'employees-update' employee.id %}">Edit</a> | <a href="{% url 'employees-delete' employee.id %}">Delete</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<div>
    <a class="btn btn-info" href="{% url 'employees-create' %}">Add user</a>
    <a class="btn btn-primary" href="{% url 'employees-report' %}">Employees Report</a>
</div>
</div>
{% endblock %}
